.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.log
config.status
depcomp
configure
install-sh
missing
*.[oa]
ar-lib
compile
.libs/
config.guess
config.sub
libtool
ltmain.sh
m4/
*.l[oa]
